<div class="row">
  <div class="col-6 p-1" *ngFor="let project of projects">
      <a [title]="project.name" [routerLink]="['/projects', project.id]" style="text-decoration: none">
        <div class="card" style="height: 100%; margin: 5px">
          <div style="width: 100%; text-align: center">
            <div *ngIf="project.thumbnail; else emptyThumbnail">
              <img src="{{project.thumbnail}}" style="width: 70%; border-radius: 2%; margin: 10px">
            </div>
            <ng-template #emptyThumbnail>
              <img src="assets/empty.jpg" style="width: 70%; border-radius: 2%; margin: 10px">
            </ng-template>
          </div>
          <h3>{{project.name}}</h3>
          <p>{{project.summary}}</p>
        </div>
      </a>
  </div>
</div>
