<div class="container justify-content-center text-center position-relative" style="margin-top: 20%">
  <h1>Christian Kobb</h1>
  <br>
  <p>"YOU MISS 100% OF THE SHOTS YOU DON'T TAKE. -WAYNE GRETZKY" -MICHAEL SCOTT</p>
  <br>
  <div>
    <a class="btn btn-secondary" href="https://www.linkedin.com/in/christian-kobb-497029190/" role="button" style="margin: 1px">LinkedIn</a>
    <a class="btn btn-secondary" href="https://www.thingiverse.com/sigiltenebrae/designs" role="button" style="margin: 1px">Thingiverse</a>
    <a class="btn btn-secondary" href="https://github.com/sigiltenebrae" role="button" style="margin: 1px">Github</a>
  </div>
</div>

<br>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-3 col-md-6 col-xs-12 pl-1 pr-1" style="margin: 2px">
      <a routerLink="/projects" style="text-decoration: none">
        <div class="card" style="height: 100%;">
          <i class ="fa fa-code"></i>
          <h3>Projects</h3>
          <p>Some of my personal projects.</p>
        </div>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12 pl-1 pr-1" style="margin: 2px">
      <a href="assets/resume/resume.pdf" style="text-decoration: none">
        <div class="card" style="height: 100%;">
          <i class ="fa fa-file"></i>
          <h3>Resume</h3>
          <p>Download my resume.</p>
        </div>
      </a>
    </div>
  </div>
</div>

<br><br>
<div class="container justify-content-center">
  <a style="text-decoration: none" href="https://github.com/sigiltenebrae/ckobb_angular"><p>View my source code!</p></a>
</div>
